.vscode/**
.vscode-test/**
node_modules/**
out/**
src/**
webview-ui/**
scripts/**
.git/**
.claude/**
.cursor/**
.gitignore
vscode-scrcpy-*.vsix
**/tsconfig.json
**/*.map
**/*.ts
!dist/**
dist/*.map
dist/**/*.map
!media/build/**
media/webview.js
.prettierignore
eslint.config.js
esbuild.js
